body {
  display: grid;

  grid-template-rows: 5em 25em 11em;

  /* background-color: burlywood; */
}

.heading {
  justify-self: center;

  transform: translateX(-1em);

  font-size: 55px;
  font-family: "Mochiy Pop One", sans-serif;
}
